.mobile-game-container {
    height: var(--height, 100%);
    position: relative;
    width: var(--width, 100%)
}

.NkWoGaPyP66RXOHJSvnD {
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 999 !important;
    --width: 100vw;
    background: #fff !important;
    min-height: var(--minHeight, 100vh)
}

@supports (min-height:-webkit-fill-available) {
    .NkWoGaPyP66RXOHJSvnD {
        --minHeight: -webkit-fill-available;
        --height: -webkit-fill-available
    }
}

@supports (height:100svh) {
    .NkWoGaPyP66RXOHJSvnD {
        --minHeight: 100svh;
        --height: 100svh
    }
}

.bqWCN9ZkqgLPEGLBPCLZ {
    display: flex
}

.zfbHEuhDZKba_V3Fboau {
    pointer-events: none;
    visibility: hidden
}

.yqRHsCZfzhtS8CI82MRw {
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 2
}

.Pg6vUQQ30ZWtdfOCpykP {
    opacity: 0;
    pointer-events: none
}

.pBveriWEDsb6AJVk59Ng {
    display: inline-flex;
    flex-direction: column
}

.UHdP93WuO6JFP1eeavtH {
    flex-direction: row;
    padding-right: 26px;
    position: relative
}

.ijT1oilby2WbYJUzfbaJ {
    color: var(--blue-1);
    font: 400 9px/2 Arial, sans-serif;
    height: 20px;
    letter-spacing: 1px;
    opacity: .7;
    text-align: center;
    text-transform: uppercase
}

.J9jEffjY15TCePz3z84r {
    font-size: 8px;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(90deg) translateX(50%) translate(-10px, 24px);
    transform-origin: center right
}

.okjidGhocmXN7zKxDo6s {
    background: #ffffff80
}

@media (min-width:881px) and (max-width:1320.9px) {
    .ENA2Z6w7FNjomfj9aSpL {
        display: block !important;
        grid-area: unset !important;
        position: fixed !important;
        right: 20px;
        top: 35px;
        z-index: 1
    }
}

@media (min-width:1761px) {
    .ENA2Z6w7FNjomfj9aSpL {
        display: block !important;
        grid-area: unset !important;
        left: 24px;
        position: absolute !important;
        top: 160px;
        z-index: 1
    }
}

@media (min-width:1321px) {
    .P3lVZ6Prom1CTL8J5Y3e {
        display: block !important;
        grid-area: unset !important;
        position: fixed !important;
        right: 35px;
        top: 35px;
        z-index: 1
    }
}

.UnEHxLYLNyXKaG7b1gjH {
    border-radius: 16px;
    height: 100%;
    left: 0;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

@media (orientation:portrait) {
    .Clsn52HE2ZzhoBMbiAF6 {
        max-height: 100%
    }
}

.Clsn52HE2ZzhoBMbiAF6 {
    -webkit-user-select: none;
    user-select: none
}

.J91n1ymJasoch_FZq89b {
    align-self: stretch;
    background: #fff;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 64px;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 12px 0 0;
    position: relative;
    z-index: 3
}

html[dir=rtl] .J91n1ymJasoch_FZq89b {
    padding: 0 0 0 12px
}

.R1ACZt2EeasukoYw2mmg {
    align-items: center;
    display: flex;
    margin-left: auto
}

.hvLtMSipvVng82x9Seuh {
    padding: 6px
}

.gCaHtnVxpqX6wzDLyVYL {
    align-items: center;
    background: #fff;
    display: flex;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 14px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity .5s ease-in;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    will-change: opacity
}

.w_lc7JXpieNHTDwLWPd8 {
    opacity: 1;
    pointer-events: all
}

.dKmiJWh_Dcw54N3UhaiA {
    display: inline-block;
    margin-left: 16px
}

.hzvYBFri_MbNstqShS7v {
    font: 700 16px/20px var(--fontBody)
}

.B41sVvR3s0Er9GIlsl5T {
    color: var(--grey-3);
    font: 12px/16px var(--fontBody)
}

.x_ydvBAGr3eCvKxJh5Gx {
    left: 50%;
    position: absolute;
    top: 50%;
    --logoWidth: auto;
    --logoHeight: 28px;
    transform: translate(-50%, -50%)
}

.pLd41dO5iW2RcZ55UfRS {
    display: flex;
    font-size: 21px;
    margin: 12px;
    width: 100%
}

.bh219joLt1DOh6iIBdZm {
    align-self: center;
    margin-left: 12px
}

@keyframes ww039qaOhb5Veu2mbHrA {
    0% {
        transform: translate(0);
        visibility: visible
    }

    90% {
        transform: translateY(150%);
        visibility: visible
    }

    to {
        transform: translateY(150%);
        visibility: hidden
    }
}

@keyframes seKqapJjAkQjXTrYoS9y {
    26% {
        transform: rotate(0deg)
    }

    28% {
        transform: rotate(14deg)
    }

    32% {
        transform: rotate(-6deg)
    }

    34% {
        transform: rotate(6deg)
    }

    36% {
        transform: rotate(-8deg)
    }

    39% {
        transform: rotate(2deg)
    }

    44% {
        transform: rotate(0deg)
    }
}

.BgztZmlqUnzFdsjSmmJn {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 1
}

@media (min-width:111px) and (max-width:1210.9px) {
    .O6aS7QO5ETmydBF0bVB7 {
        height: 424px;
        width: 640px
    }
}

@media (min-width:1211px) and (max-width:1320.9px) {
    .O6aS7QO5ETmydBF0bVB7 {
        height: 534px;
        width: 836px
    }
}

@media (min-width:1321px) and (max-width:1540.9px) {
    .O6aS7QO5ETmydBF0bVB7 {
        height: 534px;
        width: 836px
    }
}

@media (min-width:1541px) and (max-width:1870.9px) {
    .O6aS7QO5ETmydBF0bVB7 {
        height: 644px;
        width: 1031px
    }
}

@media (min-width:1871px) {
    .O6aS7QO5ETmydBF0bVB7 {
        height: 644px;
        width: 1031px
    }
}

._0r9GJJwdYqkaOz4ipBQw {
    height: 100% !important;
    width: 100% !important
}

.L1ITkDzCRTkiRlpeLSPD {
    background: var(--blue-1);
    box-shadow: var(--shadow-mid);
    flex-direction: column;
    flex-grow: 0
}

.L1ITkDzCRTkiRlpeLSPD,
.oNVoB91JkRWfP4vHrjdX {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%
}

.oNVoB91JkRWfP4vHrjdX {
    flex-grow: 1;
    justify-content: center;
    position: relative
}

.ZvQjR9fV3GRraesBQUjX {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.ZvQjR9fV3GRraesBQUjX embed,
.ZvQjR9fV3GRraesBQUjX iframe,
.ZvQjR9fV3GRraesBQUjX object,
.ZvQjR9fV3GRraesBQUjX>div {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.x0nvw8qmiCP6f8MAEIwx {
    animation: seKqapJjAkQjXTrYoS9y 4s ease-in-out 2s infinite;
    flex-shrink: 0;
    height: 16px;
    margin: 0 8px 0 0;
    width: 23px
}

@media (orientation:landscape) {
    .x0nvw8qmiCP6f8MAEIwx {
        height: 24px;
        margin: 0 21px 0 6px;
        width: 18px
    }
}

.jUUUu_FqreA_ek3ep9lh {
    border: 3px solid #fff;
    border-radius: 30px;
    font-size: 21px;
    margin: 50px auto 0;
    padding: 1px 29px
}

._SUZuMvsALFWI4KmxPdl {
    display: contents
}

.J6tqxYc6fpBoHrC5vr0W {
    align-items: center;
    animation: ww039qaOhb5Veu2mbHrA .5s linear 15s forwards;
    background: var(--grey-3);
    bottom: 0;
    color: var(--grey-9);
    display: flex;
    font: 400 14px/140% var(--fontTorus);
    justify-content: center;
    padding: 6px;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2
}

@media (orientation:landscape) {
    .J6tqxYc6fpBoHrC5vr0W {
        border-radius: 4px;
        margin: 20px;
        max-width: 230px;
        padding: 17px 14px 15px
    }
}

.AV6wA32JWQ1dnle8c9ba {
    animation: none;
    background: #0b2645;
    border-radius: 0;
    flex-direction: column;
    font-size: 28px;
    height: 100%;
    pointer-events: auto
}

@media (orientation:portrait) {
    .AV6wA32JWQ1dnle8c9ba .x0nvw8qmiCP6f8MAEIwx {
        height: 106px;
        margin: 0 0 32px;
        width: 102px
    }

    .AV6wA32JWQ1dnle8c9ba .BZTO0rv6DO53A8Rj5NMM {
        max-width: 70%;
        text-align: center
    }
}

@media (orientation:landscape) {
    .AV6wA32JWQ1dnle8c9ba {
        margin: 0;
        max-width: 100%;
        padding: 20px
    }

    .AV6wA32JWQ1dnle8c9ba ._SUZuMvsALFWI4KmxPdl {
        align-items: center;
        display: flex;
        flex-direction: row;
        max-width: 370px
    }

    .AV6wA32JWQ1dnle8c9ba .x0nvw8qmiCP6f8MAEIwx {
        height: 64px;
        width: 61px
    }
}

.rkUs26I46Zr_gd6A9Pjq {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: #009cff99;
    color: #fff;
    font: 400 18px/140% var(--fontTorus);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.BISYNVRlqGl3LXHhG8OQ {
    display: flex;
    max-width: 100%
}

.R7VHMHKzLDc3D3OfQ4pA {
    background: var(--grey-5);
    border-radius: 8px;
    height: 40px;
    margin: 0 8px 0 0;
    width: 40px
}

.CHVUtwTeELaQvB5XjIXn {
    margin: auto 0;
    min-width: 0
}

.hSBT7NJmqCF0UOqGFDLA {
    color: var(--blue-1);
    font: 700 20px/24px var(--fontTorus);
    margin: 0 8px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

html[dir=rtl] .hSBT7NJmqCF0UOqGFDLA {
    margin: 0 0 0 8px
}

._Vo7p3ZHOD37kAhG3YNE {
    color: var(--grey-3);
    display: block;
    font: 12px/16px var(--fontBody);
    letter-spacing: .3px
}

.U5zLxjJT4AAIj1kVpbGk {
    margin: 0;
    padding: 24px 0 12px
}

.Q_rXjwYv6XogwVSAnNcI {
    display: inline-block;
    margin: 0 var(--spacing-xs) var(--spacing-xs) 0
}

.LgL008mUK57BTn8KGGP4 {
    border: 2px solid var(--blue-5);
    border-radius: 100px;
    color: var(--blue-5);
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding: 0 10px;
    text-transform: uppercase
}

.LgL008mUK57BTn8KGGP4:hover {
    border-color: var(--pizzaedition1-blue);
    color: var(--pizzaedition1-blue)
}