.mobile-game-header-inner {
    align-items: center;
    background: #fff;
    border-radius: 16px;
    box-shadow: var(--shadow-mid);
    display: flex;
    flex-direction: column;
    font-size: 21px;
    gap: 4px;
    justify-content: center;
    padding: 10px 16px
}

.mobile-game-header-content {
    align-items: flex-start
}

.mobile-game-title48 {
    display: -webkit-box;
    display: box;
    margin: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    color: var(--blue-1);
    font: 700 20px/24px var(--fontTorus);
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis
}

.mobile-game-author48 {
    color: var(--grey-3);
    font: 12px/16px var(--fontBody);
    letter-spacing: .3px
}

@keyframes YRBtoUy6pKwVWhBsokJz {

    0%,
    20%,
    to {
        transform: translate(-50%, -50%) rotate(0deg)
    }

    5% {
        transform: translate(-50%, -50%) rotate(20deg)
    }

    10% {
        transform: translate(-50%, -50%) rotate(-20deg)
    }

    15% {
        transform: translate(-50%, -50%) rotate(20deg)
    }
}

.SdnImOA1G66kDZpuTgKQ {
    --overflow: hidden;
    overflow: var(--overflow)
}

.W3153_Izv6aLmmbj4nhA {
    --overflow: visible
}

.rQBDVFvD8kvlRAOMgnG9 {
    filter: blur(20px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%
}

.JU_DWYxnF6Q3YKaUpAkh {
    background: #fff;
    border-radius: 16px;
    box-shadow: var(--shadow-far);
    color: #000;
    font-size: 12px;
    line-height: 1.5em;
    min-height: var(--cellSize);
    padding: 16px 20px;
    position: relative;
    width: 320px
}

.HaKFofHgx5q8F6eJ_CUD {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.AFCT4RcPVsBgjkiKzbUF {
    background: var(--pizzaedition1-blue);
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: block;
    font: 200 16px/24px var(--fontTorus);
    margin: 20px auto auto;
    outline: none;
    padding: 6px 30px
}

.ZE6Rm6vaIGTvS3tRJuBz {
    font-size: 16px;
    line-height: inherit
}

.R7f7Ra2kiGD4hmhrSidH {
    color: var(--pizzaedition1-blue);
    float: right;
    margin: 8px 8px 0 0
}

.WFoYmp3ZzD0cZTLJqdPS {
    margin-left: 4px;
    fill: var(--pizzaedition1-blue);
    transform: translateY(2px) rotate(90deg)
}

.JJum8l5XuPwOLKGSLbPI {
    margin: 10px 0 0
}

.kb5WWkmpR9ZoFBVDCwqK {
    animation: YRBtoUy6pKwVWhBsokJz 2s ease-in infinite forwards;
    background: #fff;
    border-radius: 50%;
    left: 0;
    padding: 4px;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    will-change: transform
}

@keyframes E33nCzOpCuJ4U2Y0wzwg {
    0% {
        transform: translate(-50%, -50%) scale(1)
    }

    50% {
        transform: translate(-50%, -50%) scale(1.1)
    }

    to {
        transform: translate(-50%, -50%) scale(1)
    }
}

.mobile-play-button {
    border-radius: 16px;
    box-shadow: var(--shadow-mid);
    display: block;
    height: 100%;
    position: relative;
    width: 100%
}

.mobile-play-button:after {
    background-color: color-mix(in srgb, var(--blue-1) 60%, #0000);
    border-radius: 16px;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1
}

.mobile-play-text {
    color: #fff;
    left: 50%;
    margin-top: 40px;
    position: absolute;
    text-shadow: 0 2px 6px #0000003d;
    top: 50%;
    transform: translateX(-50%);
    z-index: 2
}

.mobile-play-icon-wrap {
    animation: E33nCzOpCuJ4U2Y0wzwg 3s ease-in-out infinite;
    background-color: #fff;
    border-radius: 32px;
    box-shadow: var(--shadow-far);
    display: none;
    height: 64px;
    left: 50%;
    padding: 14px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    z-index: 3
}

.mobile-play-icon-bgo {
    fill: var(--pizzaedition1-blue)
}

.mobile-game-thumbnail {
    border-radius: 16px;
    filter: saturate(0);
    height: 100%;
    width: 100%
}

.HJXDfIrrbhpJKiQaZ2dA {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2
}

.mobile-play-button-large .mobile-play-icon-wrap {
    display: block
}

.mobile-play-button-large .HJXDfIrrbhpJKiQaZ2dA {
    display: none
}

.mobile-play-button-large .mobile-game-thumbnail {
    filter: none
}

.mobile-play-button-large:after {
    background: linear-gradient(#0000 25%, #0000004d)
}

@keyframes f2IADhOYzUGtg1xzu0jy {

    0%,
    to {
        box-shadow: 0 -3em 0 .2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 .2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }

    25% {
        box-shadow: 0 -3em 0 -.5em, 2em -2em 0 0, 3em 0 0 .2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 .2em, 0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0, 0 3em 0 .2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 .2em, -3em 0 0 0, -2em -2em 0 -1em
    }

    75% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 .2em, -2em -2em 0 0
    }

    87.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 .2em
    }
}

.hoQH2nQzp6q1zfASy_i5 {
    animation: f2IADhOYzUGtg1xzu0jy 1.3s linear infinite;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
    height: 1em;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    width: 1em
}
